
.App {
	margin: 1em auto;
	max-width: 800px;
	padding-left: 1em;
	padding-right: 1em;
}

@media only screen and (min-width: $breakpoint) {
	.App {
		max-width: none;
		padding: 0;
		margin: 1em;

		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-auto-rows: max-content;
		grid-column-gap: 0.5em;
		grid-row-gap: 0;

		& > h1 {
			grid-column-start: 1;
			grid-column-end: -1;
		}
	}
}

