
@mixin after-banner {
	transition: all 200ms ease-in-out;

	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	line-height: 2em;

	color: white;
	background-color: $amethyst;
	text-align: center;

	overflow: hidden;
}

.SearchResult {

	width: 100%;
	height: 100%;
	position: relative;

	cursor: pointer;


	& > .image-preview {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		transition: all 200ms ease-in-out;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;

		background-color: lighten($gray, 35);
	}

	& > .metadata {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding: 1em;
		padding-bottom: 3em;

		// scrim for text
		background-image: linear-gradient(
			180deg,
			rgba(darken($midnight, 20), 0.7),
			transparent
		);


		color: white;
		text-shadow:
			0 0 2px rgba($midnight, 1),
			0 0 3px rgba($midnight, 0.9),
			-1px 1px 3px rgba($midnight, 0.7);

		& .tags {
			font-family: $font-stack-serif;
			& > span {
				display: inline-block;
				margin-right: 0.6em;
			}
		}
		& .credits {
			font-size: 0.8em;
			margin: 0.4em 0;
		}
		& .engagement {
			font-size: 0.8em;
		}
	}

	&:after {
		@include after-banner();
		height: 0;
	}
	&:hover:after {
		height: 2em;
	}

	&.saveable:after {
		content: 'Save';
		background-color: $slate;
	}

	&.saved:after {
		background-color: darken($amethyst, 10);
		height: 2em;
		content: 'Saved';
	}
	&.saved:hover:after {
		background-color: $midnight;
		content: 'Unsave';
	}
}


.SavedResult {

	display: flex;
	flex-direction: column;

	margin-bottom: 1em;

	& h3 {
		margin: 0;
		color: $amethyst;
	}

	& .tags {
		font-size: 1em;
		line-height: 1.2em;
		margin-bottom: 0.1em;
		& > span {
			display: inline-block;
			margin-right: 0.4em;
		}
	}

	& .engagement {
		font-size: 0.7em;
		margin: 0.1em 0;
	}

	& > .image-wrapper {
		max-width: 100%;
	}

	& img {
		max-width: 100%;
	}

	& > .action-wrapper {
		margin: 0;
		padding: 0;
		width: 100%;
		display: flex;
	}

	& button {
		min-width: 120px;
	}

	& a {
		transition: color 200ms ease-in-out;
		display: inline-block;
		vertical-align: middle;
		padding: 0.4em;

		&:link {
			color: $slate;
		}
		&:active {
			color: $midnight;
		}
		&:visited {
			color: $amethyst;
		}
		&:focus {
			color: darken($amethyst, 20);
		}
	}

}
