
.Result {

	text-align: center;
	max-width: 400px;

	.image-wrapper {
		display: block;
		float: left;
		position: relative;
		text-align: center;
		overflow: hidden;

		display: flex;
		justify-content: space-around;
		align-items: center;

		& > img {
			overflow: hidden;

			box-shadow:
				0 0 2px rgba(darken($gray, 20), 0.5),
				-1px 1px 2px rgba($midnight, 0.2);
		}
	}

	.tag {
		background-color: $amethyst;
		color: white;
		display: inline-block;
		padding: 0.2em 0.5em;
		border-radius: 4px;
		margin: 0.2em;
		font-size: 0.8em;
	}

	.engagements {
		display: flex;
		justify-content: space-around;
	}

	.engagement {
		& > * {
			display: inline-block;
			vertical-align: middle;
			font-size: 0.8rem;
		}
	}

}


